@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

body{
	background: #f5f5f5;
}

.searchBox{
	width: 1139px;
	height: 104px;
	margin: 0px auto;
	position: relative;
	background: #ffffff;
}

#searchBox{
	width: 100%;
	height: 104px;
	background: #ffffff;
}

.videoBox{
	width: 100%;
	height: 285px;
	background: linear-gradient(to right,#1e41a0,#0a318a);
	position: relative;
}

.wikiBox{
	width: 1139px;
	height: 500px;
	margin: 20px auto;
	position: relative;
	background: #ffffff;
	border: 1px solid #d3d3d3;
}

video{
	width: 400px;
	height: 225px;
	position: absolute;
	left: 50%; 
	top: 50%;
    margin-top: -112.5px;/* 高度的一半 */  
    margin-left: -315px;/*居中的话需要宽度的一半*/
}

#lunbo{
	width: 253px;
	height: 225px;
	position: absolute;
	left: 50%; 
	top: 50%;
    margin-top: -112.5px;/* 高度的一半 */  
    margin-left: 85px;/*居中的话需要宽度的一半*/
}

#logo{
	width: 140px;
	height: 55px;
	position: absolute;
	left: 50%; 
	top: 50%;
    margin-top: -22.5px;/* 高度的一半 */  
    margin-left: -485px;/*居中的话需要宽度的一半*/
}

#baidu{
	margin-top: 21px;
	margin-left: 115px; 
	float: left;
}

#text{
	width: 530px;
	height: 24px;
	float: left;
	margin: 31px 18px;
	font-size: 16px;
	padding: 6px;
}

#enter{
	width: 104px;
	height: 40px;
	float: left;
	margin: 31px 18px;
	margin-left: -18px;
	font-size: 16px;
	background: #3388FF; 
	border: 1px solid #3388FF;
	color: #FFFFFF;
}

#search{
	width: 104px;
	height: 40px;
	float: left;
	margin: 31px -14px;
	font-size: 16px;
	background: #FFFFFF;
	border: 1px solid #3388FF;
	color: #3388FF;
}

.button:hover{
	cursor: pointer;
	box-shadow: 1px 1px 1px #d3d3d3;
}

.h{
	font-weight:normal;
	color: #333333;
}

h1{
	width: 68px;
	height: 38px;
	font-size: 34px;
	float: left;
	margin: 0px 10px 0px 0px;
}

h2{
	width: 320px;
	height: 22px;
	font-size: 20px;
	float: left;
	margin: 14px 10px 0px -10px;
}

p{
	text-indent:2em;
}

.sm{
	padding: 29px 29px 0px;
}

.img{
	color: #333333;
	float: right;
	margin-right: 20px;
	box-shadow: 1px 1px 0px #dddddd;
	border: 1px solid #d3d3d3;
}

#mayun{
	width: 268px;
	height: 390px;
}

span{
	float: left;
	font-size: 16px;
	line-height: 23px;
	margin-left: 8px;
}

#span{
	width: 249px;
	height: 20px;
	padding: 6px 5px 8px 14px;
}

#span img{
	float: left;
	margin-left: 4px;
}

.text{
	width: 790px;
	height: 357px;
	font-size: 14px;
	color: #333333;
	position: absolute;
	line-height:24px;
	top: 90px;
}

#p1{
	height: 72px;
	margin: 0px 0px 15px 0px;
}

#p2{
	height: 72px;
	margin: 0px 0px 15px 0px;
}

#p3{
	height: 48px;
	margin: 0px 0px 15px 0px;
}

#p4{
	height: 120px;
	margin: 0px 0px 15px 0px;
}

a{
	text-decoration:none;
	color: #3388ff;
}

a:hover{
	text-decoration:underline;
}